$primary: #05445E;
$secondary: #189AB4;
$third: #75E6DA;
$fourth: #D4F1F4;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
    transition-duration: .3s;
    &:hover {
        color: $secondary;
    }
}

/* Nav */
nav {
    display: none;
}
@media (min-width: 800px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: $fourth;
    }
}


/* blocks */
.blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;

    .block {
        border-radius: 2em;
        background: $primary;
        padding: 2em;
        color: $fourth;
    }
}

















